.About {
  // Avoid images that come out of the div to modify the size of the viewport
  overflow: hidden;
  // so the child divs can occupy all the heigh of the parent div
  //   display: flex;
  //   flex-direction: column;
  //   position: relative;
  //   max-height: fit-content;
  &__paint {
    position: absolute;
    top: 340px;
    left: 0;
    z-index: 0;
    flex-shrink: 0;
    opacity: 0.5;
  }
  &__leaf1 {
    position: relative;
    z-index: 1;
    top: 50px;
    float: right;
    width: 326px;
  }

  &__leaf2 {
    position: relative;
    width: 326px;
    top: 350px;
    z-index: 1;
  }
  &__title {
    font-family: var(--title);
    position: relative;
    top: -500px;
    margin-left: 53px;
    color: #000;
    text-align: left;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    z-index: 9;
    width: 652px;
  }
  &__metanoia {
    margin: 0 auto;
    position: relative;
    top: -300px;
    z-index: 9;
    color: #000;
    width: 900px;
    height: 415px;
    text-align: center;
    font-family: var(--text);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  &__eucalipto {
    width: 100%;
    position: relative;
    z-index: 0;
    top: -250px;
    &--content {
      position: relative;
      color: var(--bg);
      top: -750px;
    }
    &--text {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0 auto;
      max-width: 1073px;
      margin-top: 64px;
    }
    &--list {
      display: flex;
      margin-top: 48px;
      justify-content: space-between;
    }
  }
  &__subtitle {
    color: var(--bg);
    font-family: var(--text);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 103px;
  }
}
