.contact {
  // Avoid images that come out of the div to modify the size of the viewport
  overflow: hidden;
}
.citation {
  max-width: 100%;
  position: relative;
  //   display: inline-block;
}
.citation img {
  display: block;
}
.citation__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg);
  font-family: var(--title);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 974px;
  height: 129px;

}
.contact__background {
  position: relative;
  z-index: -1;
  top: -100px;
  margin: 0 auto;
  width: 100%;

  &--paint {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 0;
    flex-shrink: 0;
  }
  &--leaf1 {
    position: relative;
    z-index: 2;
  }

  &--leaf2 {
    position: absolute;
    bottom: 116px;
    right: -83px;
    z-index: 1;
  }
}
