.citation {
  max-width: 100%;
  position: relative;
  //   display: inline-block;
}
.citation img {
  display: block;
}
.citation__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg);
  font-family: var(--title);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 974px;
  height: 129px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.contact__background {
  position: relative;
  z-index: 1;
  top: -100px;

  &--leaf2 {
    position: absolute;
    bottom: 176px;
    right: -83px;
  }
}
