$color: var(--green-2);
.Hero {
  height: 95vh;
  background: url("../../img/carousel/womanmountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    &--title {
      font-family: var(--title);
      font-size: 130px;
      max-width: 817px;
      margin-top: 250px;
      margin-left: 173px;
      color: black;
    }
    &--btns {
      margin-top: 30px;
      display: flex;
      justify-content: space-evenly;
      padding-left: 90px;
    }
    &--logo {
      margin-top: 250px;
      width: 390px;
      height: 390px;
    }
  }
}
.cta-btn {
  width: 326px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: var(--green-2);
  color: 0000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--green-3);
    color: var(--green-1);
  }
}
