.Hypno {
  position: relative;
  overflow-x: hidden;
  &__circle {
    margin-left: 130px;
    top: 240px;
    position: absolute;
    z-index: -1;
  }
  &__leaf1 {
    position: absolute;
    top: 130px;
    left: 20px;
    z-index: 0;
  }
  &__title {
    font-family: var(--title);
    color: #000;
    text-align: right;
    font-size: 90px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    z-index: 9;
    margin-right: 96px;
    margin-top: 70px;
  }
  &__intro {
    text-align: right;
    margin-right: 96px;
    margin-top: 65px;
    padding-left: 350px;
  }
  &__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0px 50px 0px;
  }
  &__subtitle {
    font-size: 30px;
    font-weight: 700;
  }
  &__aeros {
    margin-top: 240px;
    width: 100%;
    position: relative;
    z-index: -10;
    img {
      width: 100%;
      position: absolute;
      z-index: -1;
    }
    &--content {
      color: var(--bg);
      display: flex;
      padding-left: 150px;
      padding-right: 96px;
      img {
        position: relative;
        top: -200px;
      }
    }
  }
}
